

<header>
    <h1> My Shopping Cart </h1>
</header>
<div class = "container">
    <ul class="nav navbar-nav">
        <li class="dropdown">
            <a ui-sref="elec" class="dropbtn">Electronics</a>
            <div class="dropdown-content">
                <a ui-sref="#">Mobile</a>
                <a ui-sref="#">Laptops</a>
            </div>
        </li>
        <li class="dropdown">
            <a ui-sref="books" class="dropbtn">Books</a>
            <div class="dropdown-content">
                <a ui-sref="#">Comic</a>
                <a ui-sref="#">Fiction</a>
                <a ui-sref="#">Biographies</a>
            </div>
        </li>
    </ul>
</div>


<!--<div class="container-fluid">-->
    <!--<div class="row">-->
        <!--<div class="col-md-6">-->
            <!--<div id="custom-search-input">-->
                <!--<div class="input-group col-md-12">-->
                    <!--<input type="text" class="form-control input-lg" placeholder="Search for Products" />-->
                    <!--<span class="input-group-btn">-->
                        <!--<button class="btn btn-info btn-lg" type="button">-->
                            <!--<i class="glyphicon glyphicon-search"></i>-->
                        <!--</button>-->
                    <!--</span>-->
                <!--</div>-->
            <!--</div>-->
        <!--</div>-->
    <!--</div>-->
<!--</div>-->

<footer>
    <hr>
    <h4> Powered By Semantic Bits </h4>
</footer>