<div class = "head">
    <div class="container">
        <div class = "nav">
            <nav class="navbar navbar-default" role="navigation" id = "navbar">
                <div class="container-fluid">
                    <div class="navbar-header">
                        <a class="navbar-brand" href="#">My Shopping Cart</a>
                    </div>
                    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                        <ul class="nav navbar-nav">
                            <li class="dropdown">
                                <a href="#" class="dropdown-toggle" data-toggle="dropdown">Electronics <b class="caret"></b></a>
                                <ul class="dropdown-menu">
                                    <li><a href="#">Mobiles</a></li>
                                    <li><a href="#">Laptops</a></li>
                                </ul>
                            </li>
                            <li class="dropdown">
                                <a href="#" class="dropdown-toggle" data-toggle="dropdown">Books <b class="caret"></b></a>
                                <ul class="dropdown-menu">
                                    <li><a href="#">Comic</a></li>
                                    <li><a href="#">Fiction</a></li>
                                    <li><a href="#">Biographies</a></li>
                                </ul>
                            </li>
                        </ul>
                    </div>
                </div>
            </nav>
        </div>
    </div>
</div>


<div class = "search" ng-controller = "SimpleController as sc ">

    <ui-select ng-model = 'sc.selected' theme = "bootstrap" reset-search-input = "false">

        <ui-select-match placeholder = "Search for Products">
            {{$select.selected.name}} < {{$select.selected.price}} {{$select.selected._rating}}>
        </ui-select-match>

        <ui-select-choices refresh="sc.checkName($select.search)"
                           refresh-delay="0"
                           repeat = 'product in products | filter :$select.search | limitTo : sc.limitTime'>
            {{product.name}}
        </ui-select-choices>
    </ui-select>

</div>

<!--<div class = "display" ng-repeat="product in products | orderBy: '-_rating' | limitTo : 5">-->
    <!--<hr>-->
    <!--<div class = "pro">-->
        <!--<a ui-sref = "productDetails({ id : product.id })"><img src="app/images/{{product.id}}.jpeg"></a><br>-->
        <!--{{ product.name }}<br>-->
        <!--{{ product.price }}-->
    <!--</div>-->
<!--</div>-->



<!--<footer>-->
    <!--&lt;!&ndash;<hr>&ndash;&gt;-->
    <!--Powered By Semantic Bits-->
<!--</footer>-->