<div class = "heading">
    <h1> Top 5 Mobiles</h1>
</div>
<div class = "displayMbl" ng-repeat="product in products | filter: { subType: 'mobile' } | orderBy: '-_rating' | limitTo :  5" >
    <hr>
    <div class = "pro">
        <a ui-sref = "productDetails({ id : product.id , subType: product.subType })"><img src="app/images/{{product.id}}.jpeg"></a><br>
        <b>{{ product.name }} </b><br>
        <b>{{ product.price }}</b><br>
        <ng-rate-it ng-model="product._rating" read-only = "true"></ng-rate-it>
        <!--<jk-rating-stars max-rating="5" rating="product._rating" read-only=true on-rating="ctrl.onRating(rating)" >-->
        <!--</jk-rating-stars>-->
    </div>
</div>
<div class = "morePro"><a ui-sref="allProducts({ subType:'mobile'})">More Mobiles</a></div>

<!--<br><br><br>-->
<div class = "heading">
    <h1> Top 5 LapTops</h1>
</div>
<div class = "clearLine">
    <div class = "displayLap" ng-repeat="product in products | filter: { subType: 'laptop' } | orderBy: '-_rating' | limitTo :  5" >
        <hr>
        <div class = "pro">
            <a ui-sref = "productDetails({ id : product.id , subType: product.subType })"><img src="app/images/{{product.id}}.jpeg"></a><br>
            <b>{{ product.name }} </b><br>
            <b>{{ product.price }}</b><br>
            <ng-rate-it ng-model="product._rating" read-only=" true"></ng-rate-it>
            <!--<jk-rating-stars max-rating="5" rating="product._rating" read-only=true on-rating="ctrl.onRating(rating)" >-->
            <!--</jk-rating-stars>-->
        </div>
    </div>
</div>
<div class = "morePro"><a ui-sref="allProducts({ subType:'laptop'})">More Laptops</a></div>